@{
    ViewData["Title"] = "Home Page";
}



<section id="about" class="text-center">
    <div class="container">
        <img src="images\about-img.jpg" class="rounded-circle">
        <h1>Hello! Welcome to my Webpage.</h1>
        <p class="card-body">I'm Romeric. <br />Full stack developer. Comic book reader. ProWrestling fan. <br /> Nomad. Filipino based in Auckland.</p>
    </div>
</section>

<article id="currentProjects">
    <div class="container">
        <h1>Current Projects</h1>
    </div>
</article>

<article id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="skills-header"><i class="fab fa-uikit text-warning"></i> UI/UX</div>
                <p>
                    Phasellus quam neque, consectetur at efficitur nec, porttitor eget metus. Sed tempus suscipit est,
                    consectetur hendrerit orci commodo sit amet.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="skills-header"><i class="fas fa-code text-danger"></i> Frontend</div>
                <p>
                    Phasellus quam neque, consectetur at efficitur nec, porttitor eget metus. Sed tempus suscipit est,
                    consectetur hendrerit orci commodo sit amet.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="skills-header"><i class="fas fa-cogs text-success"></i> Backend</div>
                <p>
                    Phasellus quam neque, consectetur at efficitur nec, porttitor eget metus. Sed tempus suscipit est,
                    consectetur hendrerit orci commodo sit amet.
                </p>
            </div>

            <div class="col-lg-6">
                <div class="skills-header"><i class="fas fa-database text-info"></i> Database</div>
                <p>
                    Phasellus quam neque, consectetur at efficitur nec, porttitor eget metus. Sed tempus suscipit est,
                    consectetur hendrerit orci commodo sit amet.
                </p>
            </div>
        </div>
        <div class="skills-btn">
            <a href="" id="workButton" class="btn btn-success">See Work Experience</a>
            <a href="" id="cvButton" class="btn btn-info">Download CV</a>
        </div>
    </div>
</article>
