@{
    ViewData["Title"] = "Home Page";
}

<article id="currentProjects">
    <div class="container">
        <h1>Current Projects</h1>
    </div>
</article>

<article id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="skills-header"><i class="fab fa-uikit"></i> UI/UX</div>
                <p>
                    Phasellus quam neque, consectetur at efficitur nec, porttitor eget metus. Sed tempus suscipit est,
                    consectetur hendrerit orci commodo sit amet.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="skills-header"><i class="fas fa-code"></i> Frontend</div>
                <p>
                    Phasellus quam neque, consectetur at efficitur nec, porttitor eget metus. Sed tempus suscipit est,
                    consectetur hendrerit orci commodo sit amet.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="skills-header"><i class="fas fa-cogs"></i> Backend</div>
                <p>
                    Phasellus quam neque, consectetur at efficitur nec, porttitor eget metus. Sed tempus suscipit est,
                    consectetur hendrerit orci commodo sit amet.
                </p>
            </div>

            <div class="col-lg-6">
                <div class="skills-header"><i class="fas fa-database"></i> Database</div>
                <p>
                    Phasellus quam neque, consectetur at efficitur nec, porttitor eget metus. Sed tempus suscipit est,
                    consectetur hendrerit orci commodo sit amet.
                </p>
            </div>
        </div>
        <div class="skills-btn">
            <a href="" id="workButton" class="btn btn-success">See Work Experience</a>
            <a href="" id="cvButton" class="btn btn-info">Download CV</a>
        </div>
    </div>
</article>
